.Päis{
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.Päis img {
  width: 100%;
  height: 300px;
}

h1{
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 27%;
  font-family: cursive;
}

.Päis:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgb(175, 152, 152), rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0)70%, rgb(175, 152, 152));
  pointer-events: none;
}

body{
  background-color: rgb(216,170,132);
  height: 100vh;
}


.Lingid{
  float: left;
  height: auto;
  width: 50%;
  background-color: transparent;
  text-align: center;
}

.Link{
  background-color: rgb(215, 189, 166);
  border: 2px solid;
  border-radius: 40%;
  border-color: rgb(76, 43, 8);
  margin:30px;
  text-decoration: solid; 
}

.Link p{
  font-family: Monospace;
}
.Link a{
  font-family: fantasy;
  color: rgb(56, 56, 56);

}















  
  